.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.paille {
  padding: 10px;
  margin:50px 0px;
  box-sizing: border-box;
  position:relative;
  transition: width 4200ms;
  -webkit-transition: width 4200ms;
  -moz-transition: width 4200ms;
  -ms-transition: width 4200ms;
  -o-transition: width 4200ms;
  text-align: left;
}

.paille:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("stripes-light.png");
}

.paille.loser{
  /*box-shadow: 0 0 47px #c15c5c;*/
}

.paille.winner{
  /*box-shadow: 0 0 47px #a1d0b1;*/
}

.pailles-container {
  margin: 50px;
  background-color: #282c34;
  padding: 10px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
